
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
</head>
<body>
    <h2>Главная страница</h2>
    <table style="width:50%;">
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
    </table>
</body>
</html>